{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card border-danger">
					<div class="card-header bg-danger">
						<h3 class="mb-0">404</h3>
					</div>
					<div class="card-body">
						<form method="post">

							<div class="mb-3">
								<p>OOPS, THE PAGE YOU ARE LOOKING FOR CAN'T BE FOUND!</p>
                                <a href="{{ path('app_project_index') }}" class="home-link">Return To Homepage</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
